body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
.container {
    width: 635px;
    height: 474px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#join-div-card {
    background-color: hsl(0, 0%, 100%);
    height: 215px;
    width: 635px;
    position: relative;
}
#subscription-card {
    background-color: hsl(179, 62%, 43%);
    height: 259px;
    width: 317.5px;
    float: left;
}
#why-us-card {
    background-color: hsl(179, 61%, 46%);
    height: 259px;
    width: 317.5px;
    float: right;
}